<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Match Finder</title>
    <link rel="stylesheet" href="simple.css">
    <link rel="stylesheet" href="custom.css">
    <style>
        .name-row button.remove {
            background-color: var(--dark-red);
        }

        .name-row:first-child button.remove {
            display: none;
        }
    </style>
    <script type="module" src="stimulus.js"></script>
    <script type="module" defer src="index.js"></script>
    <script src="theme.js"></script>
</head>

<body>
    <nav class="toplevel">
        <nav class="menu">
            <div class="nav-left">
                <ul class="nav-left-list">
                    <li class="nav-left-item">
                        <a class="logo" href="/"></a>
                    </li>
                    <li class="nav-left-item">
                        <span class="sitename">TPW MatchFinder</span>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <ul class="nav-right-list keep">
                    <li>
                        <a id="darkmodetoggle" onclick="switchTheme()" ondblclick="switchThemeOG()"
                            aria-label="Change theme" title="Change theme">
                            <svg class="feather dark-theme-icon" title="Moon icon">
                                <use href="/feather-sprite.svg#moon"></use>
                            </svg>
                            <svg class="feather light-theme-icon" title="Sun icon">
                                <use href="/feather-sprite.svg#sun"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
    <section class="section">
        <div class="container content" data-controller="namefinder" data-namefinder-orgs-outlet="#orgs">
            <p>
                XXXX Find all matches including one or more talent. Enter one name in the text field,
                click the button to add more names in additional fields. Currently, only the exact names
                are searched for, not any aliases the character may have used.
            </p>
            <form data-action="namefinder#submit:stop">
                <div class="name-row">
                    <input type="text" data-namefinder-target="name" data-action="namefinder#lookup">
                    <button type="button" data-action="namefinder#add_more">...and</button>
                    <button type="button" class="remove" data-action="namefinder#del_row">Remove</button>
                </div>
            </form>
            <ul data-namefinder-target="matches" class="career"></ul>
            <template id="card-header" data-namefinder-target="headerTemplate">
                <li class="header">
                    <span class="d">Date</span>
                    <span class="o">Org</span>
                    <span class="r">Details</span>
                </li>
            </template>
            <template id="card-match" data-namefinder-target="matchTemplate">
                <li class="entry">
                    <time class="d"></time>
                    <span class="o"></span>
                    <span class="r"></span>
                </li>
            </template>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 <a href="//tpwres.pl">tpwres.pl</a></p>
    </footer>
    <data id="orgs" data-controller="orgs">
        <template id="org-badge-ppw">
            <div title="" class="badge ib">
                <a href="/o/ppw/" class="org-badge nu"
                    style="background: url(/ppw-badge.svg) no-repeat 0 0 / cover, #5b007e; background-position: center;"
                    title="">
                    <span>PpW</span>
                </a>
                <small style="color: #c7c7c7"></small>
            </div>
        </template>
        <template id="org-badge-ptw">
            <div title="" class="badge ib">
                <a href="/o/ptw/" class="org-badge nu"
                    style="background: url(/ptw-badge.svg) no-repeat 0 0 / cover, #000; background-position: center;"
                    title="">
                    <span>PTW</span>
                </a>
                <small style="color: #ffffff"></small>
            </div>
        </template>
        <template id="org-badge-mzw">
            <div title="" class="badge ib">
                <a href="/o/mzw/" class="org-badge nu"
                    style="background: url(/mzw-badge.svg) no-repeat 0 0/cover, #208315; background-position: center;">
                    <span>MZW</span>
                </a>
                <small style="color: #ffffff"></small>
            </div>
        </template>
        <template id="org-badge-low">
            <div title="" class="badge ib">
                <a href="/o/low/" class="org-badge nu"
                    style="background: url(/low-badge.svg) 0 0 / 100%, #000; background-position: center;" title="">
                    <span>LOW</span>
                </a>
                <small style="color: #fff"></small>
            </div>
        </template>
        <template id="org-badge-kpw">
            <div title="" class="badge ib">
                <a href="/o/kpw/" class="org-badge nu"
                    style="background: url(/kpw-badge.svg) no-repeat 0 0 / cover, #133762; background-position: center;"
                    title="">
                    <span>KPW</span>
                </a>
                <small style="color: #ffffff"></small>
            </div>
        </template>
        <template id="org-badge-ddw">
            <div title="" class="badge ib">
                <a href="/o/ddw/" class="org-badge nu"
                    style="background: url(/ddw-badge-4.svg) no-repeat 0 0/cover, #71171f; background-position: center;"
                    title="">
                    <span>DDW</span>
                </a>
                <small style="color: #fbf1c7"></small>
            </div>
        </template>
        <template id="org-badge-default">
            <div title="" class="badge ib">
                <a href="/o/wws/" class="nu org-badge" style="background: #000;
               color: #fff;">
                    ???
                </a>
            </div>
        </template>
    </data>
</body>

</html>
