{% extends "base.html" %}

{% block extra_head %}
    <style>
        .name-row button.remove {
            background-color: var(--dark-red);
        }

        .name-row:first-child button.remove {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% set appearances_path = config.extra.appearances_json_path | default(value='/appearances_v2.json') %}
    {% set matches_path = config.extra.matches_json_path | default(value='/all_matches.json') %}
    {{ section.content | safe }}
    <div id="namefinder" class="container content"
         data-appearances="{{ appearances_path | safe }}"
         data-matches="{{ matches_path | safe }}">
        <form>
            <div class="name-row">
                <input type="text" list="all-names-index"/>
                <button type="button" class="add-name">...and</button>
                <button type="button" class="remove">Remove</button>
            </div>
            <datalist id="all-names-index"></datalist>
        </form>
        <ul id="matches" class="career"></ul>
        {% include "card_header.html" %}
        {% include "card_match.html" %}
    </div>
    <data id="orgs">
        {% include "org_badges.html" %}
    </data>
{% endblock %}

